nav{
    position: fixed;
    top:0;
    z-index: 50;
    width: 100%;
    background-color: #000000;
    opacity: 0.8;
    min-height: 3.5rem;
   
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    a{
        color:#FFFFFF;
        
    }
   

    #left-menu{
        
        float: left;
    }
     .nav-logo img{
        height: 3.5rem;
     }
    
    #right-menu{
        text-align: right;
       
        li{
            display: inline-block;
            padding: 24px 0px;
            margin: 0 15px;
        }
        li:hover{
            a{
                color:orange;
            }
        }
    }
    .nav-active{
        border-bottom: 2px solid #ff863f;
        a{
            color:#ff863f;
        }
    }
}
    

