<nav>
  <div>
  <ul id="left-menu">
    <li class="nav-logo nav-active"><a><img src="../assets/images/logo.png"> </a></li> 
  </ul>

  <ul id="right-menu">
    
    
    <li><a class="nav-active">Home</a></li>
    <li><a>About</a></li>
    <li><a>Services</a></li>
    <li><a>Team</a></li>
    <li><a>Portfolio</a></li>
    <li><a>Contact</a></li>
  </ul>
</div>
</nav>



<!-- <nav>
  <ul id="left-menu">
    <a><img src="../assets/images/logo.png"> </a>
  </ul>
  <div id="right-menu">
      <ul>
          <li><a class="nav-active">Home</a></li>
          <li><a>About</a></li>
          <li><a>Services</a></li>
          <li><a>Team</a></li>
          <li><a>Portfolio</a></li>
          <li><a>Contact</a></li>
        </ul>

  </div>
  
</nav> -->