nav{
    position: fixed;
    top:0;
    z-index: 3;
    width: 100%;
    background-color: #000000;
    //opacity: 0.8;
    min-height: 3.5rem;
   
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    a{
        color:#FFFFFF;        
    }
   

    #left-menu{        
        float: left;
        .menu{
            display: none;
        }
    }
     .nav-logo img{
        height: 3.5rem;
     }
    
    #right-menu{
        text-align: right;
        display: block;
        a{
            display: inline-block;
            padding: 24px 0px;
            margin: 0 15px;
        }
        a:hover{
            color:#ff863f;
        }
    }

    .nav-active{
        border-bottom: 2px solid #ff863f;
        // display: inline-block;
        //     padding: 24px 0px;
        //     margin: 0 15px;
            color:#ff863f;

       
    }
}
    

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    nav{
        opacity: 1;
    }
    #right-menu{
        display: none;
        a{
            display: block!important;
            text-align: center;
        }
    } 
    nav #left-menu {
        float: none;
        .menu{
            display: inline;
            font-size: 2rem;          
            position: absolute;
            right: 1rem;
            top: 0.5rem;
        }
    }       
  }