<nav>
  <div class="container">
    <div id="left-menu">
      <a class="nav-logo"><img src="./assets/images/logo.png"> </a>
      <a class="menu" (click)="expandMenu=!expandMenu">
        <i *ngIf="!expandMenu" class="fa fa-bars"></i>
        <span *ngIf="expandMenu">&#10006;</span>

      </a>
    </div>
    <div id="right-menu" [style.display]="expandMenu ? 'block' : 'none'" >
     
      <ul>
        <li [ngClass]="{'nav-active': isActive('home')}"><a href="#home" (click)="currentSection='home'">Home</a></li>
        <li [ngClass]="{'nav-active': isActive('about')}"><a href="#about" (click)="currentSection='about'">About</a></li>
        <li [ngClass]="{'nav-active': isActive('services')}"><a href="#services" (click)="currentSection='services'">Services</a></li>
        <li [ngClass]="{'nav-active': isActive('team')}"><a href="#team" (click)="currentSection='team'">Team</a></li>
        <li [ngClass]="{'nav-active': isActive('portfolio')}"><a href="#portfolio" (click)="currentSection='portfolio'">Portfolio</a></li>
        <li [ngClass]="{'nav-active': isActive('contact')}"><a href="#contact" (click)="currentSection='contact'">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>


