<div class="footer-container">
  <section class="container">
    <div class="col-4">
      <h1 class="footer-logo"><span>My Home </span>Design Consultants</h1>
      <p class="row">
        <a class="circle" target="_blank"
          href="https://www.facebook.com/My-Home-Design-Consultants-706972952986813/?modal=admin_todo_tour"><i
            class="fab fa-facebook-f"></i></a>
        <a class="circle" href=""><i class="fab fa-twitter"></i></a>
        <a class="circle" target="_blank"
          href="https://www.google.com/search?biw=1242&bih=597&ei=Jo-VXMSZDafWz7sP-b--sA4&q=My+Home+Design+Consultants%2C+Madhurawada%2C+Visakhapatnam&oq=My+Home+Design+Consultants%2C+Madhurawada%2C+Visakhapatnam&gs_l=psy-ab.3..35i39.18870.21239..21710...0.0..0.151.684.0j5......0....1..gws-wiz.......0i71j35i304i39.eQV4KG31xuA"><i
            class="fab fa-google"></i></a>
        <a class="circle" href=""><i class="fab fa-instagram"></i></a>
      </p>
    </div>
    <div class="col-4">
      <h3>INFORMATION</h3>
      <p><span><b>Tel: </b></span>09494526944, 08919488692</p>
      <p><span><b>Email: </b></span>myhomedesigncon@gmail.com</p>
      <p><span><b>Working Hours: </b></span>9am-5pm</p>
    </div>
    <div class="col-4">
      <h3>RECENT WORKS</h3>
      <div class="footer-img-container">
        <img src="./assets/images/portfolio/1.jpg" alt="">
      </div>
      <div class="footer-img-container">
        <img src="./assets/images/portfolio/2.jpg" alt="">
      </div>
      <div class="footer-img-container">
        <img src="./assets/images/portfolio/3.jpg" alt="">
      </div>
      <div class="footer-img-container">
        <img src="./assets/images/portfolio/4.jpg" alt="">
      </div>
      <div class="footer-img-container">
        <img src="./assets/images/portfolio/5.jpg" alt="">
      </div>
    </div>
  </section>
  <footer>
    <div>
      © Copyright My Home Design Consultants 2019
    </div>
    <div>
      Developed by <a href="https://www.linkedin.com/in/mohan-kalyan-datti-42730ba3/" target="_blank"><b>Mohan Kalyan
          Datti</b></a>
    </div>

  </footer>
</div>

<a href="#" class="circle back-to-top"><i class="fa fa-chevron-up"></i></a>