.footer-container{
    background: #f9f9f9;
    padding-top: 5%;
    padding-bottom: 0;
}
span{
    color: #ff863f;
}
.footer-logo{
    font-size: 36px;
}
a{
    color:#000000;
}
// i{
//     margin: 5px;
//     padding: 0.7rem;
//     text-align: center;
//     border: 1px solid black;
//     border-radius: 50%;
// }
.circle:hover{
    color: #ffffff;
    border: none;
    background-color: #ff863f;
}
.footer-img-container{
    max-width: 8rem;
    display: inline-block;
    padding: 5px;
    img{
        width: 100%;
    }
}
footer{
    background: #f1f1f1 none repeat scroll 0 0;
    padding: 1%;
    text-align: center;
    line-height: 1.5rem;
    a{
        color: #ff863f;
    }
    div{
        margin: 0.5rem;
    }
}
.circle{
    color: #000000;
    margin: 5px;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.6rem;
    display: inline-block;
    text-align: center;
    border: 1px solid #444;
    border-radius: 50%;
}
.back-to-top {
    position: fixed;
    background: #ff863f;
    color: #fff;
    padding: 6px 12px;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    border: none ;
    i{
        vertical-align: middle;
    }
}