<div class="slideshow-container" (click)="closeSlideShow($event)">

  <div class="mySlides fade" *ngFor="let portfolio of portfolioList;let i=index;">
    <div class="numbertext">{{i+1}} / {{portfolioList.length}}</div>
    <img src="{{portfolio.imageUrl}}">
    <div class="text">Caption Text</div>
  </div>

  <a class="close">&#10006;</a>
</div>


<!-- <div style="text-align:center">
  <span class="dot" *ngFor="let portfolio of portfolioList"></span>
</div> -->
<div class="slide-show-nav">
  <a class="prev level-2" (click)="nextSlide(-1)">&#10094;</a>
  <a class="next level-2" (click)="nextSlide(1)">&#10095;</a>
  
</div>

<div class="overlay level--1"></div>

<!-- <div class="slideshow-container">

    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="../../assets/images/about/2.jpg" >
      <div class="text">Caption Text</div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="../../assets/images/about/3.jpg" >
      <div class="text">Caption Two</div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="../../assets/images/about/2.jpg">
      <div class="text">Caption Three</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 4</div>
        <img src="../../assets/images/about/1.jpg">
        <div class="text">Caption Three</div>
      </div>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span>
      <span class="dot"></span> 
    </div>
    <div class="slide-show-nav">
        <a class="prev level-2" (click)="nextSlide(-1)">&#10094;</a> 
        <a class="next level-2" (click)="nextSlide(1)">&#10095;</a> 
      </div> -->