/* You can add global styles to this file, and also import other style files */
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Open Sans','Montserrat', 'Arial', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    // margin-top: 4.5rem;
    font-size: 14px;
    color: #444;
    background-color: #fff;
}
button{
    cursor: pointer;
}

.container{
    padding: 0 7.5%;
}

.row{
    width:100%;
    margin-bottom: 1rem;
   // padding: 15px;
}
.col-12{
    width:100%;
}
.col-11{
    width:91.6%;
}
.col-10{
    width:83.3%;
}
.col-9{
    width:75%;
}
.col-8{
    width:66.6%;
}
.col-7{
    width:58.3%;
}
.col-6{
    width:50%;
}
.col-5{
    width:41.6%;
}
.col-4{
    width:33.3%;
}
.col-3{
    width:25%;
}
.col-2{
    width:16.6%;
}
.col-1{
    width:8.3%;
}
[class^='col']{
    display: inline-block;
    vertical-align:top;
    padding: 0 1rem;
   // float: left;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
    margin: 0 0 15px;
    color: #444;
   // font-weight: 500;
}
h4{
    font-size: 1.5rem;
}
a{
    color: #000000;
    text-decoration: none;
}
.badge{
    display: inline-block;
    padding: 8px 15px;
    border: 1px solid black;
    border-radius: 25px;
    margin: 5px;
}
.badge:hover{
    color:white;
    border:none;
    background-color: #ff863f;
}
.badge-active{
    color:white;
    border:none;
    background-color: #ff863f;
}
.back-to-top {
    position: fixed;
    display: none;
    //background: #ff863f;
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    i{
        color:white;
        background-color: #ff863f;
        border: none !important;
    }
}
.form-control{
    padding: 10px 0 10px 20px;
    margin: auto;
    margin-bottom: 1rem;
}
.form-control:focus{
    outline: #ff863f auto 5px;
}
.form-control-lg{
    width: 95%;
}
textarea{
    padding: 20px;
}
.overlay{
    top:0;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
}
section{
    padding: 5% 7.5%;
    h1{
        font-size: 40px;
        color: #4e4b4be1;
        margin: 0;
        margin-bottom: 5%;
    }
}
.prev{
    position: absolute;
    transition: 0.6s ease;
  left:15px;
}
.next{
    position: absolute;
    transition: 0.6s ease;
   right:15px;
}
.level--1{
z-index: -1;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6} 
}