.carousel-container{
    position: relative;
   
    width: 100%;
}
div{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: 600px;
}
.overlay{
    position: absolute;
    opacity: 0.5;
   
}
.level-1{
    z-index: 1;
}
.level-2{
    z-index: 2;
}
.carousel-item{
    transition: 0.6s ease;
    //display: none;
    .carousel-item-head{
        .badge{
            color: #ffffff;
            border: 1px solid #ffffff;
            font-weight: 700;
        }
        .badge-active,.badge:hover{
            border:none;  
        }
        
    } 
    .carousel-item-head h2,h1{
        color: #ffffff;
    }
    .carousel-item-head{
        position: absolute;
        top:20%;
        width: 100%;
        padding: 0 5rem;
        text-align: center;
        margin: 0;
      
        font-size: 1.4rem;
    }
}
// .active{
//     display: block;
// }
.carousel-nav {
    
    a{
        position: absolute;
        top: 45%;
        font-size: 2rem;
       // font-weight: 500;
        text-align: center;
        //border: 1px solid #ffffff;
       // background-color: #ff863f;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        color: #b6b6b6;
    }
    a:hover{
        background-color: #ff863f;
        border: 0px solid #ffffff;
        color: #ffffff;
    }
}



/* animation */
.slide {
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    background: transparent;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
  }
  
@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}
.badge{
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: 700;
}
.badge-active,.badge:hover{
    border:none;  
}
.navigate{
    position: absolute;
    top: 40%;
    z-index: 1;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
}
h2,h1{
    color: #ffffff;
}